body {
  color: #ff0000;
  padding: 25px;
  background-color: #ffffff;
  font-size: 100%;
}
h1 {
  color: #0000ff;
  font-size: 120%;
}
h2 {
  font-size: 110%;
}
p {
  color: #ffff00;
}
li {
  color: #ffff00;
  background-color: red;
  font-size: 90%;
}
a:link,
a:visited {
  color: #ff0000;
  text-decoration: underline;
}
a:hover,
a:active,
a:focus {
  background-color: #0000ff;
}
